pkgbase = cate-git
	pkgdesc = Infinite zoomable canvas IDE with editor, terminal and browser panels (h3mul fork of 0-AI-UG/cate)
	pkgver = 2.0.5.r1404.g6a00c884
	pkgrel = 1
	url = https://github.com/h3mul/cate
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = nodejs-lts-jod
	makedepends = npm
	makedepends = python
	makedepends = make
	makedepends = gcc
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = xdg-utils
	depends = at-spi2-core
	provides = cate
	conflicts = cate
	options = !strip
	options = !debug
	source = cate-git::git+https://github.com/h3mul/cate.git
	sha256sums = SKIP

pkgname = cate-git
